<log4net>
  <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
    <ImmediateFlush value ="true"/>
  </appender>
  <appender name="mqttAppender" type="RazerChromaMqtt.MqttAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %logger %ndc - %message%newline" />
    </layout>
    <ImmediateFlush value ="true"/>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="consoleAppender" />
  </root>
  <logger name="RazerChromaMqtt">
    <level value="ERROR" />
    <appender-ref ref="mqttAppender" />
  </logger>
</log4net>
